<%- layout('layout') %>

<div class="content">
  <div class="title">
    <h2><%- result[0].title %></h2>
  </div>
  <div class="contents">
    <p><%- result[0].contents %></p>
  </div>
</div>



<style media="screen">
  .content {
    position: fixed;
    left: 18%;
    top: 28%;
  }
</style>
