<%- layout('layout') %>

<div class="chatList">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>공지사항</h1>
          <ul class="list-group">
            <% result.forEach((i) => { %>
              <li class="list-group-item"><a href="/announce/<%= i.id %>"><%= i.title %></a></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
</div>

<div style="position: absolute; left: 80%; top: 80%;">
  <button type="button" onclick="window.location='/sub-announce';" name="button">등록</button>
</div>

<style media="screen">
  .chatList {
    position: absolute;
    left: 18%;
    top: 28%;
  }
</style>
