<%- layout('layout') %>

<div class="form">
  <form action="/announce" method="post">
  	<input type="text" name="title" class="form-control mt-4 mb-2"
  		placeholder="제목을 입력해주세요." required
  	>
    <br>
  	<div class="form-group">
  		<textarea class="form-control" rows="10" name="contents"
  			placeholder="내용을 입력해주세요" required
  		></textarea>
  	</div>
  	<button type="submit" class="btn btn-secondary mb-3 pull-right">등록하기</button>
  </form>
</div>

<style media="screen">
  .form {
    position: fixed;
    left: 22%;
    top: 30%;
    width: 1000px;
  }
</style>
