body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C2ECFF;
}

a {
  color: #191970;
}

.myList{
  position: absolute;
  top: 200px;
  width: 150px;
}

#category {
  text-align: center;
}

.announce {
  position: absolute;
  width: 300px;
  right: 30px;
  top: 300px;
}

.main {
  position: absolute;
  width: 800px;
  height: 580px;
  top: 200px;
  left: 250px;
  object-fit: cover;
}

div.vertical-line{
      width: 3px; /* Line width */
      background-color: white; /* Line color */
      height: 60%; /* Override in-line if you want specific height. */
      position: absolute;
      left: 17%;
      top: 30%;
    }

#mainFont {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
